<div class="footer">
    <p>&copy; {{year}} <a href="{{companyUrl}}">{{companyName}}</a>. All rights reserved.</p>
    <p>Using <a href="https://nestjs.com">NestJS</a> & <a href="https://soft-y.com">Softy ERP</a></p>
</div>